{% extends "predict/base.html" %}

{% block main %}

{% load static %}
<div class="container pt-5">
    <div class="container has-text-centered">
        <h1 class="title">Iris Species Predictor</h1>
        <h2 class="subtitle">ML Web App</h2>
    </div><br>
    <div class="container has-text-centered">
        <img src="{% static 'iris.jpg' %}" alt="iris">
    </div>
</div>

{% endblock %}
